@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins';

.content {
   background-color: white;
   border-radius: 8px;
   margin: 20px 16px 0px 16px;
   box-shadow: 5px 5px 40px rgba(0, 0, 0, .1);
   padding: 24px 20px;
}

.main-stat {
   display: flex;
   justify-content: space-between;
   color: #666;
   text-align: right;
}

.main-stat-description {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
}

.main-stat-title {
   color: rgba(0, 0, 0, 0.45);
   font-weight: bold;
   font-size: 16px;
}

.main-stat-value {
   float: right;
   font-size: 20px;
   font-weight: bold;
}

.custom-card {
   padding-top: 15px;
}

.custom-card-title {
   text-align: center;
   font-weight: 500;
   font-size: x-large;
}

.custom-card-body {
   font-size: 16px;
}

@include media-breakpoint-up(sm) {
   .content-wrapper {

      &:nth-child(1n) {
         .main-stat, .custom-card {
            margin: 20px 10px 0px 20px
         }
      }

      &:nth-child(2n) {
         .main-stat, .custom-card{
            margin: 20px 20px 0px 10px
         }
      }
   }
}

@include media-breakpoint-up(xl) {
   .content-wrapper {

      &:nth-child(1) .main-stat {
         margin: 20px 10px 0px 20px;
      }

      &:nth-child(2) .main-stat,
      &:nth-child(3) .main-stat {
         margin: 20px 10px 0px 10px;
      }

      &:nth-child(4) .main-stat {
         margin: 20px 20px 0px 10px;
      }
   }
}