.icon {
   stroke-width: 1.5;
   width: 1.25rem;
}

.nav-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.nav-link {
   display: flex !important;
   align-items: center;
}
